@import url(http://fonts.googleapis.com/css?family=Oswald);

body{
	font-family: 'Roboto', sans-serif;
	font-size: .8em;
	background-color: #ddd;
	 overflow:hidden;
}

*{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;				
}

a{
	color: inherit;
	text-decoration: inherit;
}

/* Tremula Styles  */

.gridBox{
	border:#fff 10px solid;
	margin: -10px 0 0 -10px;
}
.moneyShot{
	width: 100%;
}

.boxLabel{display: none;font-size: 12px;font-weight: 100; color:#666;}


.doReflect .boxLabel{
	display:inline-block; 
	-webkit-transform: translateZ(0);
}

.doReflect .gridBox{
	-webkit-box-reflect : below 18px -webkit-gradient(
		linear, left bottom, left top, 
		from(rgba(255,255,255,0.25)), 
		color-stop(0.1, transparent)
	); 
}

.tremulaContainer{
	box-shadow: inset 0 0 50px rgba(0,0,0,0.2);
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index: 1;
}






/* Demo Styles  */

.debug{
	display:none;
	position: absolute;
	bottom: 0px;
	width: 400px;
	height: 50%;
	z-index: 3;
	background: #eee;
	font-size: 12px;
	font-weight: 100;
	font-family: courier;
	color: #666;
}
.debug.show{display: block;}
.debug li {
list-style: none;
}
.debug li span{display: none;}

.controls{
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height:150px;
	background-color: rgba(255, 255, 255, 0.67);
	margin: 0px;
	padding: 0px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	-webkit-transform: translateY(-150px);
	-moz-transform: translateY(-150px);
	-ms-transform: translateY(-150px);
	transform: translateY(-150px);
	-webkit-transition: 175ms ease-in-out;
	-moz-transition: 175ms ease-in-out;
	-ms-transition: 175ms ease-in-out;
	transition: 175ms ease-in-out;
	z-index: 3;
}
.showControls .controls{
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
.group{
	display: none;
	margin:5px;
	padding: 0;
	position: relative;
}
.showTweaks .group{
	display: inline-block;
}
.group.main {
/*background: rgba(255, 255, 255, 0.2);
box-shadow: 0 0 8px #999;*/
display: inline-block;
margin-left: 38px;
}

.buttons{
	list-style-type: none;
	margin: 0;
	padding: 5px;
	text-align: left;	
	overflow: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.group.main.presets {
	/*width: 348px;*/
	width: 230px;
	white-space: normal;
}

.group.main.presets li{
	width: 98px;
	display: inline-block;
	margin: 0px -.5px;
} 


.buttons .group li {
	
	list-style: none;
	padding: .5em;
	/* background: rgba(255,255,255,0.5); */
	margin: -1px;
	cursor: pointer;
	border: solid 1px #999;
	/* box-shadow: 0 0 5px rgba(0,0,0,0); */
	/* opacity: 0.7; */
	color: #333;
}
.buttons .group li:hover{
	background: #333;
	color:#eee;
}
.buttons .group li:active{
	background: #eee;
	color:#333;
}

.tab{
	position: absolute;
	top: -23px;
	/*background: rgba(239, 239, 239, 0.6);*/
	/*background: rgba(220, 220, 220, 1);*/
	padding: 30px 20px 22px;
	left: 20px;
	/*box-shadow: 0 -14px 11px rgba(0,0,0,0.2);*/
	cursor: pointer;
	font-size: 27px;
	font-weight: 700;
	text-align: center;
	color: #777;
	/* height: 70px; */
	z-index: 3;
	line-height: 40px;
	-webkit-transition: 175ms ease-in-out 0ms;
	-moz-transition: 175ms ease-in-out 0ms;
	-ms-transition: 175ms ease-in-out 0ms;
	transition: 175ms ease-in-out 0ms;
	background-image: radial-gradient(closest-side,rgba(255,255,255,1),rgba(255,255,255,0));
}
.tab:hover{
	/*background-color: #333;*/
	color: #555;
	/*padding-top: 20px;*/
	/*background: rgba(239, 239, 239, 1);*/
	/*box-shadow: 0 -14px 11px rgba(0,0,0,0.2), 0 11px 28px -20px rgba(51, 51, 51, 0.9);*/
	-webkit-transform: scale(1.2) translateY(0px);
	-moz-transform: scale(1.2) translateY(0px);
	-ms-transform: scale(1.2) translateY(0px);
	transform: scale(1.2) translateY(0px);
}

.tab:active{
	/*background-color: #fff;*/
	color: #FFF;
}
.showControls .tab{
	-webkit-transform: translateY(-70px);
	-moz-transform: translateY(-70px);
	-ms-transform: translateY(-70px);
	transform: translateY(-70px);
	-webkit-transition: 175ms ease-in-out 200ms;
	-moz-transition: 175ms ease-in-out 200ms;
	-ms-transition: 175ms ease-in-out 200ms;
	transition: 175ms ease-in-out 200ms;
}

h1{
color: rgba(0, 0, 0, 0.3);
position: absolute;
z-index: 4;
right: 0px;
bottom: 0;
/* -webkit-transform: translateX(0) translateY(0%) rotateZ(-90deg); */
font-size: 60px;
/*line-height: 0.5em;*/
padding: 15px;
margin: 0;
/* margin-left: -70px; */
/* background-color: rgba(255,255,255,.7); */
text-shadow: 0px 1px 0px rgba(255,255,255,.5);
background-image: radial-gradient(closest-side,rgba(255,255,255,1),rgba(255,255,255,0));
}

.viewOnGithub{
 position: absolute;
 top: 0px;
 right: 0px;
 width: 160px;
 height: 150px;
 overflow: hidden;
 display: block;
 z-index: 2;
}

.viewOnGithub .ribbonTopRight{
 position: absolute;
 background: rgba(167, 3, 27, 1);
 top: 39px;
 color:white;
 right: -40px;
 padding: 10px 60px;
 display: inline-block;
 transform: rotate(45deg);
 -webkit-transform: rotate(44deg);
 box-shadow: 0px 0px 3px -1px #000, 0 0 40px 0px #fff;
 text-align: center;
 font-size:1em; 
 line-height: 1em;
 text-transform:capitalize;
}

@media only screen and (max-width : 700px) {
	h1{
		display: none;
		/*z-index: 0;*/
	}
}

body .gridBox.isLastContentBlock{
	background-color: #eee;
}

 
#popupImage {
    min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-50%; bottom:-50%;
    left:-50%; right:-50%;
    margin:auto;
    z-index: 10; 
}

#closeButton{

  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 11; 
   
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: 19;
  	position: absolute;
  	width: 200px;
  
  	-webkit-perspective: 800px;
          perspective: 800px;
  	overflow: visible;
  	background-color: #333;
  	  	color: #eee;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	font-size : 26px;
  	text-align: center;

}


.imageDetailContainerOverlayControllers {
	min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-50%; bottom:-50%;
    left:-50%; right:-50%;
    margin:auto;
    z-index: 14; 

}


/* 

====== Zoom-out effect ======


*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}



/* BUTTONS */
/* =============================================================================
  ICONS - DEMO 5
============================================================================= */

.shortURL{
	top: 220px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: 19;
  	position: absolute;
  	width: 200px;
  	text-align: center;
  	-webkit-perspective: 800px;
    perspective: 800px;
  	overflow: visible;
  	background-color: #333;
  	color: #eee;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	font-size : 26px;
}
.qrCode {
	top: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: 19;
  	position: absolute;
  	width: 200px;
  	height: 200px;
  	-webkit-perspective: 800px;
          perspective: 800px;
  	overflow: visible;
  	background-color: #333;
}

.qrCode img{
	margin: 10px;
	width: 180px;
	height: 180px;
}


.icon-cube {
	bottom: 10px;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
	z-index: 19;
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-perspective: 800px;
          perspective: 800px;
  overflow: visible;
}

.icon-cube::before,
.icon-cube::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
border-radius: 10px;
  height: 100%;
  background: url("../img/icons5.png"); 
  content: "";
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}

.icon-cube::before {
  z-index: 23;
  background-color: #333;
}

.icon-cube::after {
  z-index: 22;
  opacity: 0;
  -webkit-transform: translateY(48px) rotateX(-90deg);
          transform: translateY(48px) rotateX(-90deg);
}

.icon-cube:hover::before {
  opacity: 0;
  -webkit-transform: translateY(-48px) rotateX(90deg);
          transform: translateY(-48px) rotateX(90deg);
}

.icon-cube:hover::after {
  opacity: 1;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

/* facebook */
.icon-cube.facebook::before,
.icon-cube.facebook::after {
  background-position: 0 0;
}

.icon-cube.facebook::after {
  background-color: #3b5998;
}

/* twitter */
.icon-cube.twitter::before,
.icon-cube.twitter::after {
  background-position: -96px 0;
}

.icon-cube.twitter::after {
  background-color: #4099ff;
}

/* google plus */
.icon-cube.googleplus::before,
.icon-cube.googleplus::after {
  background-position: -192px 0;
}

.icon-cube.googleplus::after {
  background-color: #cc1e1e;
}

/* github */
.icon-cube.github::before,
.icon-cube.github::after {
  background-position: -288px 0;
}

.icon-cube.github::after {
  background-color: #333333;
}

/* rss */
.icon-cube.rss::before,
.icon-cube.rss::after {
  background-position: -384px 0;
}

.icon-cube.rss::after {
  background-color: #ee802f;
}


/* */